<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 对应dao接口 -->
<mapper namespace="shwy.tk.dao.AdminDAO">

    <resultMap id="adminResultMap" type="shwy.tk.pojo.po.AdminPO">
        <id column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_pass" property="userPass" jdbcType="VARCHAR"/>
        <result column="user_role" property="userRole" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="checkLogin" parameterType="shwy.tk.pojo.po.AdminPO" resultMap="adminResultMap">
        select * from t_user where user_name=#{userName} and user_pass=#{userPass}
    </select>

    <select id="getAdminPOByUserName" parameterType="String" resultMap="adminResultMap">
        select * from t_user where user_name=#{userName}
    </select>

    <update id="updateAdmin" parameterType="shwy.tk.pojo.po.AdminPO">
        update t_user set user_name=#{userName},user_pass=#{userPass}
    </update>


</mapper> 