<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 对应dao接口 -->
<mapper namespace="shwy.tk.dao.ImagesDAO">

    <resultMap id="imagesResultMap" type="shwy.tk.pojo.po.ImagesPO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="imageName" property="imageName" jdbcType="VARCHAR"/>
        <result column="imageUrl" property="imageUrl" jdbcType="VARCHAR"/>
        <result column="photoId" property="photoId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="listVO">
        id,imageName,imageUrl,photoName
    </sql>

    <select id="listImages" resultType="shwy.tk.pojo.vo.ImagesVO" parameterType="Map">
        SELECT
        photo.photoName,
        images.imageName,
        images.imageUrl,
        images.id
        FROM images INNER JOIN photo ON images.photoId = photo.id
        WHERE images.photoId = #{photoId} order by id
        <if test="start!=null and pageSize!=null">
            limit #{start},#{pageSize}
        </if>

    </select>

    <select id="listImagesPO" resultMap="imagesResultMap" parameterType="Map">
        select * from images
        <where>
            <if test="photoId!=null">
                and photoId=#{photoId}
            </if>
        </where>
        order by id DESC
        <if test="start!=null and pageSize!=null">
            limit #{start},#{pageSize}
        </if>

    </select>

    <select id="getImagesCount" resultType="Long" parameterType="Map">
        select count(*) from images
        <where>
            <if test="photoId!=null">
                and photoId=#{photoId}
            </if>

        </where>
    </select>

    <select id="getImage" resultMap="imagesResultMap">
        select * from images where id=#{id}
    </select>
    <insert id="addImage" parameterType="shwy.tk.pojo.po.ImagesPO">
        insert into images
        values(null,#{imageName},#{imageUrl},#{photoId})
    </insert>

    <update id="updateImage" parameterType="shwy.tk.pojo.po.ImagesPO">
        update images set
        imageName=#{imageName},imageUrl=#{imageUrl},photoId=#{photoId}
        where id=#{id}
    </update>

    <delete id="deleteImage" parameterType="Integer">
        delete from images where id = #{id}
    </delete>

</mapper> 