<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 对应dao接口 -->
<mapper namespace="shwy.tk.dao.MusicDAO">

    <resultMap id="musicResultMap" type="shwy.tk.pojo.po.MusicPO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="singer" property="singer" jdbcType="VARCHAR"/>
        <result column="src" property="src" jdbcType="VARCHAR"/>
        <result column="img" property="img" jdbcType="VARCHAR"/>
        <result column="lrc" property="lrc" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="VARCHAR"/>
        <result column="dan" property="dan" jdbcType="INTEGER"/>
        <association column="dan" property="musicListPO"
                     select="shwy.tk.dao.MusicListDAO.getMusicList"></association>
    </resultMap>

    <sql id="listVO">
         dan,img,singer,src,name,id,time,lrc
    </sql>

    <select id="musicVO" resultType="shwy.tk.pojo.vo.MusicVO" parameterType="Map">
        select
        <include refid="listVO"/>
        from music where dan=#{dan}
    </select>

    <select id="listAllMusic" resultType="shwy.tk.pojo.vo.MusicVO" parameterType="Map">
        select
        <include refid="listVO"/>
        from music
    </select>

    <select id="listMusic" resultMap="musicResultMap" parameterType="Map">
        select * from music
        <where>
            <if test="dan!=null">
                and dan=#{dan}
            </if>
        </where>
        order by id DESC
        <if test="start!=null and pageSize!=null">
            limit #{start},#{pageSize}
        </if>

    </select>

    <select id="getMusicCount" resultType="Long" parameterType="Map">
        select count(*) from music
    </select>

    <select id="getMusic" resultMap="musicResultMap">
        select * from music where id=#{id}
    </select>
    <insert id="addMusic" parameterType="shwy.tk.pojo.po.MusicPO">
        insert into music
        values(null,#{name},#{singer},#{dan},#{src},#{lrc},#{img},#{time})
    </insert>

    <update id="updateMusic" parameterType="shwy.tk.pojo.po.MusicPO">
        update music set
        name=#{name},singer=#{singer},dan=#{dan},src=#{src},lrc=#{lrc},img=#{img},time=#{time}
        where id=#{id}
    </update>

    <delete id="deleteMusic" parameterType="Integer">
        delete from music where id = #{id}
    </delete>

</mapper>