<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 对应dao接口 -->
<mapper namespace="shwy.tk.dao.MusicListDAO">

    <resultMap id="musicListResultMap" type="shwy.tk.pojo.po.MusicListPO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="music_list_name" property="music_list_name" jdbcType="VARCHAR"/>
        <result column="singer" property="singer" jdbcType="VARCHAR"/>
        <result column="basic" property="basic" jdbcType="INTEGER"/>
        <result column="img" property="img" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="listPO">
        music_list_name,img,id,basic,singer
    </sql>

    <select id="musicListPO" resultMap="musicListResultMap" parameterType="Map">
        select
        <include refid="listPO"/>
        from music_list
    </select>
</mapper>