<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head> 
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
  <meta name="apple-mobile-web-app-capable" content="yes" /> 
  <title>Coffee Break : 500</title>
   <link th:href="@{/foreground/css/errorpagestyle.css}" href="../../foreground/css/errorpagestyle.css" rel="stylesheet" type="text/css"/>
      <link th:href="@{/foreground/images/blog.ico}" href="../../foreground/images/blog.ico" rel="icon"
            type="image/x-icon">
   </head> 
   <body> 
   <div class="controller">
    <div class="objects"> 
    <!-- text area -->
    <div class="text-area rotate">
    <p class="error">Error 500</p>
    <p class="details">Server Error<br /><br />Sorry, but there was an error with the server that prevented this page from being displayed.</p> 
    </div> 
    <!-- text area -->
    <!-- home page --> 
    <div class="homepage rotate">
    <a href="/">Back to homepage</a>
    </div> <!-- home page --> 
    </div> <!-- social-icons --> 
    <!-- social-icons --> 
    </div> 
 
</body>
</html>