<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>照片列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link th:href="@{/foreground/images/blog.ico}" href="/foreground/images/blog.ico" rel="icon" type="image/x-icon"/>
    <link th:href="@{/foreground/css/mplayer.css}" href="/foreground/css/mplayer.css" rel="stylesheet">
    <link th:href="@{/foreground/css/bootstrap.min.css}" href="/foreground/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/foreground/css/imageset.css}" rel="stylesheet" href="/foreground/css/imageset.css" type="text/css"/>
    <link th:href="@{/foreground/css/images.min.css}" rel="stylesheet" href="/foreground/css/images.min.css" type="text/css"/>
    <link th:href="@{/foreground/css/imagestyle.css}" rel="stylesheet" href="/foreground/css/imagestyle.css" type="text/css"/>
    <link th:href="@{/foreground/css/style.css}" href="/foreground/css/style.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/foreground/css/mystyle.css}" href="/foreground/css/mystyle.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/foreground/css/jquery.emoji.css}" href="/foreground/css/jquery.emoji.css" rel="stylesheet"/>

    <!--百度站点统计-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?690b806c35f345b6299c8a1c5b49d3a4";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<div class="header" id="ban" th:include="foreground/common::header"></div><!--头部导航结束-->

<div class="header-bottom" th:include="foreground/common::blogTitle"></div><!--博客标题结束-->

<div class="technology" style="margin-top: 0px;">
    <div class="container" style="width: 85%">
        <div class="tech-no">
            <div class="col-md-12 technology-left" style="width: 100%"  >
                <div id="works"  class="clearfix grid" style="padding-top: 0px;" >
                    <figure class="effect-oscar  wowload fadeIn" th:each="images:${imagesList}">
                        <img th:src="${images.imageUrl}"  src="/foreground/images/portfolio/1.jpg" alt="img01"/>
                        <figcaption>
                            <h2 style="font-size: x-large" th:text="${images.imageName}">照片名称</h2>
                            <p th:text="${images.photoName}">相册名称</p><br>
                            <p><a th:href="${images.imageUrl}" href="/foreground/images/portfolio/1.jpg" th:title="${images.imageName}" data-gallery>View more</a></p>
                        </figcaption>
                    </figure>
                </div>

                <nav class="paging wow fadeInDown" data-wow-duration=".5s" data-wow-delay=".2s"
                     style="text-align: center">
                    <ul class="pagination pagination-mg" th:utext="${pageNation}">
                    </ul>
                </nav>
                <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
                <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                    <!-- The container for the modal slides -->
                    <div class="slides"></div>
                    <!-- Controls for the borderless lightbox -->
                    <h3 class="title">Title</h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="close">×</a>
                    <!-- The modal dialog, which will be used to wrap the lightbox content -->
                </div>
            </div>
        </div><!--左侧内容结束-->
    </div>
</div><!--内容主体结束-->


<div class="footer" th:include="foreground/common::footer"></div><!--尾部结束-->
<div class="copyright wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s"
     th:include="foreground/common::copyright"></div><!--版权区结束-->
<div class="mp" th:include="foreground/common::mp"></div><!--音乐结束-->

<script th:src="@{/foreground/js/jquery.min.js}" src="/foreground/js/jquery.min.js"></script>
<script th:src="@{/foreground/js/mplayer.js}" src="/foreground/js/mplayer.js"></script>
<script th:src="@{/foreground/js/public.js}" src="/foreground/js/public.js"></script>
<script th:src="@{/foreground/js/mplayer-functions.js}" src="/foreground/js/mplayer-functions.js"></script>
<script th:src="@{/foreground/js/jquery.nstSlider.js}" src="/foreground/js/jquery.nstSlider.js"></script>
<script th:src="@{/foreground/js/images.min.js}" type="text/javascript" src="/foreground/js/images.min.js"></script>
<script th:src="@{/foreground/js/bootstrap.min.js}" src="/foreground/js/bootstrap.min.js"></script>
<script th:src="@{/foreground/js/wow.min.js}" src="/foreground/js/wow.min.js"></script>
<script th:src="@{/foreground/js/jquery.svg3dtagcloud.min.js}" src="/foreground/js/jquery.svg3dtagcloud.min.js"></script>
<script th:src="@{/foreground/js/jquery.emoji.js}"  src="/foreground/js/jquery.emoji.js" type="text/javascript"></script>
<script th:src="@{/foreground/js/myjs.js}" src="/foreground/js/myjs.js" > </script>
<script>
    $(document).ready(function () {
        var entries = [];
        var settings = {
            entries: entries,
            width: '100%',
            height: '100%',
            radius: '73%',
            radiusMin: '50%',
            bgDraw: true,
            bgColor: '#FFF',
            opacityOver: 1.00,
            opacityOut: 0.13,
            opacitySpeed: 6,
            fov: 800,
            speed: 0.5,
            fontFamily: 'Oswald, Arial, sans-serif',
            fontSize: '15',
            fontColor: '#000',
            fontWeight: 'normal',//bold
            fontStyle: 'normal',//italic
            fontStretch: 'normal',//wider, narrower, ultra-condensed, extra-condensed, condensed, semi-condensed, semi-expanded, expanded, extra-expanded, ultra-expanded
            fontToUpperCase: false

        };

        //var svg3DTagCloud = new SVG3DTagCloud( document.getElementById( 'holder'  ), settings );
        $('#tag-cloud').svg3DTagCloud(settings);
        parse()
    });
</script>
</body>
</html>