<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>音乐</title>

</head>

<body>
<!-- THREE.JS 84 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.min.js"></script>

<!-- Simplified object for 2D and THREE.js canvas (designed for my web page banners and for doing tests with them) -->
<!-- Can work in 2 ways, normal / test mode, and banner mode (for my web page headers) -->
<script src="../../foreground/js/ObjetoCanvas.js"></script>
<link rel="stylesheet" href="../../foreground/css/ObjetoCanvas.css"></link>

<!-- Create time animations like Tween.js with less feautres but with my own style -->
<script src="../../foreground/js/ObjetoAnimacion.js"></script>

<script src="../../foreground/js/music.js"></script>

</body>
</html>
