<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>音乐列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link th:href="@{/foreground/images/blog.ico}" href="/foreground/images/blog.ico" rel="icon" type="image/x-icon"/>
    <link th:href="@{/foreground/css/images.min.css}" rel="stylesheet" href="/foreground/css/images.min.css" type="text/css"/>
    <link th:href="@{/foreground/css/imagestyle.css}" rel="stylesheet" href="/foreground/css/imagestyle.css" type="text/css"/>
    <link th:href="@{/foreground/css/bootstrap.min.css}" href="/foreground/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/foreground/css/style.css}" href="/foreground/css/style.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/foreground/css/mystyle.css}" href="/foreground/css/mystyle.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/foreground/css/jquery.emoji.css}" href="/foreground/css/jquery.emoji.css" rel="stylesheet"/>

    <!--百度站点统计-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?690b806c35f345b6299c8a1c5b49d3a4";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<div class="header" id="ban" th:include="foreground/common::header"></div><!--头部导航结束-->

<div class="header-bottom" th:include="foreground/common::blogTitle"></div><!--博客标题结束-->

<!--
<div class="technology" >
    <div class="container" style="width: 80%">
        <div class="tech-no">
            <div class="col-md-12 technology-left" style="width: 100%" >
                &lt;!&ndash; THREE.JS 84 &ndash;&gt;
                <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.min.js"></script>

                &lt;!&ndash; Simplified object for 2D and THREE.js canvas (designed for my web page banners and for doing tests with them) &ndash;&gt;
                &lt;!&ndash; Can work in 2 ways, normal / test mode, and banner mode (for my web page headers) &ndash;&gt;
                <script src="/foreground/js/ObjetoCanvas.js"></script>
                <link rel="stylesheet" href="/foreground/css/ObjetoCanvas.css"></link>

                &lt;!&ndash; Create time animations like Tween.js with less feautres but with my own style &ndash;&gt;
                <script src="/foreground/js/ObjetoAnimacion.js"></script>

                <script src="/foreground/js/music.js"></script>
            </div>
        </div>&lt;!&ndash;左侧内容结束&ndash;&gt;
    </div>
</div>&lt;!&ndash;内容主体结束&ndash;&gt;
-->


<div class="footer" th:include="foreground/common::footer"></div><!--尾部结束-->
<div class="copyright wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s"
     th:include="foreground/common::copyright"></div><!--版权区结束-->
<div class="mp" th:include="foreground/common::mp"></div><!--音乐结束-->

<script th:src="@{/foreground/js/jquery.min.js}" src="/foreground/js/jquery.min.js"></script>
<script th:src="@{/foreground/js/bootstrap.min.js}" src="/foreground/js/bootstrap.min.js"></script>
<script th:src="@{/foreground/js/wow.min.js}" src="/foreground/js/wow.min.js"></script>
<script th:src="@{/foreground/js/jquery.emoji.js}"  src="/foreground/js/jquery.emoji.js" type="text/javascript"></script>
<script th:src="@{/foreground/js/myjs.js}" src="/foreground/js/myjs.js" > </script>

</body>
</html>

