<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>相册列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link th:href="@{/foreground/images/blog.ico}" href="../../static/foreground/images/blog.ico" rel="icon"
          type="image/x-icon">
    <link th:href="@{/foreground/css/bootstrap.min.css}" href="../../static/foreground/css/bootstrap.min.css"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{/foreground/css/style.css}" href="../../static/foreground/css/style.css" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/foreground/css/mystyle.css}" href="../../static/foreground/css/mystyle.css" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/foreground/css/dropdown.css}" href="../../static/foreground/css/dropdown.css" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/foreground/css/animate.min.css}" href="../../static/foreground/css/animate.min.css"
          rel="stylesheet">
    <link th:href="@{/foreground/css/jquery.mCustomScrollbar.min.css}"
          href="../../static/foreground/css/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <link th:href="@{/foreground/css/jquery.emoji.css}" href="../../static/foreground/css/jquery.emoji.css"
          rel="stylesheet">
    <link th:href="@{/foreground/css/player.css}" href="../../static/foreground/css/player.css" rel="stylesheet">
    <!--百度站点统计-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?690b806c35f345b6299c8a1c5b49d3a4";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>
<div class="header" id="ban" th:include="foreground/common::header"></div><!--头部导航结束-->

<div class="header-bottom" th:include="foreground/common::blogTitle"></div><!--博客标题结束-->
<div class="banner-1"
     style="background: url(http://op93pqovl.bkt.clouddn.com/images/banner-1.jpg) no-repeat 0px 0px;background-size: 100%">

</div>


<div class="technology">
    <div class="container">
        <div class="col-md-9 technology-left">
            <div class="tech-no">
                <div class="wthree" th:each="photo:${photoList}">
                    <div class="col-md-6 wthree-left wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s"
                         style="width: 250px;height: 250px;">
                        <div class="tch-img">
                            <a th:href="'/photo/'+${photo.id}" href="images.html">
                                <img th:src="${photo.coverImage}" src="../../static/foreground/images/f1.jpg"
                                     class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 wthree-right wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <h6><a th:href="'/photo/'+${photo.id}" href="images.html" th:text="${photo.photoName}">最新博文2</a></h6>
                        <h6>BY <a th:text="${photo.author}">showy</a> </h6>
                        <p th:text="${photo.description}" class="summary">Ut enim ad minim veniam, quis nostrud eiusmod
                            tempor incididunt ut labore et dolore magna
                            aliqua exercitation ullamco laboris .</p>
                        <div class="bht1">
                            <a th:href="'/photo/'+${photo.id}" href="images.html">查看更多</a>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <nav class="paging wow fadeInDown" data-wow-duration=".5s" data-wow-delay=".2s"
                     style="text-align: center">
                    <ul class="pagination pagination-mg" th:utext="${pageNation}">
                    </ul>
                </nav> <!--分页结束-->
            </div>
        </div><!--左侧内容结束-->

        <div class="col-md-3 technology-right" th:include="foreground/common::rightNav"></div><!--右侧内容结束-->

        <div class="clearfix"></div>
    </div>
</div><!--内容主体结束-->

<div class="footer" th:include="foreground/common::footer"></div><!--尾部结束-->
<div class="copyright wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s"
     th:include="foreground/common::copyright"></div><!--版权区结束-->
<div class="QPlayer" th:include="foreground/common::QPlayer"></div><!--音乐结束-->

<img id="oImg" th:src="@{/foreground/images/xiaolongbao.gif}" src="../../static/foreground/images/xiaolongbao.gif"/>


<script th:src="@{/foreground/js/jquery.min.js}" src="../../static/foreground/js/jquery.min.js"></script>
<script th:src="@{/foreground/js/bootstrap.min.js}" src="../../static/foreground/js/bootstrap.min.js"></script>
<script th:src="@{/foreground/js/wow.min.js}" src="../../static/foreground/js/wow.min.js"></script>
<script th:src="@{/foreground/js/jquery.svg3dtagcloud.min.js}"
        src="../../static/foreground/js/jquery.svg3dtagcloud.min.js"></script>
<script th:src="@{/foreground/js/modernizr.min.js}" src="../../static/foreground/js/modernizr.min.js"></script>
<script th:src="@{/foreground/js/jquery.dropdown.js}" src="../../static/foreground/js/jquery.dropdown.js"></script>
<script th:src="@{/foreground/js/time.js}" src="../../static/foreground/js/time.js"></script>
<script th:src="@{/foreground/js/jquery.mousewheel.min.js}" src="../../static/foreground/js/jquery.mousewheel.min.js"
        type="text/javascript"></script>
<script th:src="@{/foreground/js/jquery.mCustomScrollbar.min.js}"
        src="../../static/foreground/js/jquery.mCustomScrollbar.min.js" type="text/javascript"></script>
<script th:src="@{/foreground/js/jquery.emoji.js}" src="../../static/foreground/js/jquery.emoji.js"
        type="text/javascript"></script>
<script th:src="@{/foreground/js/myjs.js}" src="../../static/foreground/js/myjs.js"></script>

<script th:inline="javascript">
    $(document).ready(function () {
        var blogTagList = [[${application.blogTagList}]];
        var entries = [];
        for (var i in blogTagList) {
            var entry = {
                label: blogTagList[i].tagName,
                url: '/blog/tag/' + blogTagList[i].id
            }
            entries.push(entry);
        }
        var settings = {
            entries: entries,
            width: '100%',
            height: '100%',
            radius: '73%',
            radiusMin: '50%',
            bgDraw: true,
            bgColor: '#FFF',
            opacityOver: 1.00,
            opacityOut: 0.13,
            opacitySpeed: 6,
            fov: 800,
            speed: 0.5,
            fontFamily: 'Oswald, Arial, sans-serif',
            fontSize: '15',
            fontColor: '#000',
            fontWeight: 'normal',//bold
            fontStyle: 'normal',//italic
            fontStretch: 'normal',//wider, narrower, ultra-condensed, extra-condensed, condensed, semi-condensed, semi-expanded, expanded, extra-expanded, ultra-expanded
            fontToUpperCase: false

        };

        //var svg3DTagCloud = new SVG3DTagCloud( document.getElementById( 'holder'  ), settings );
        $('#tag-cloud').svg3DTagCloud(settings);
        parse()
    });

</script>
</body>
</html>