<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link th:href="@{/foreground/images/blog.ico}" href="/foreground/images/blog.ico" rel="icon" type="image/x-icon"/>
    <link th:href="@{/foreground/css/bootstrap.min.css}" href="/foreground/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/foreground/css/photo.min.css}" href="/foreground/css/photo.min.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/foreground/css/photoset.css}" href="/foreground/css/photoset.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/foreground/css/photomain.css}" href="/foreground/css/photomain.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/foreground/css/photoresponsive.css}" href="/foreground/css/photoresponsive.css" rel="stylesheet" type="text/css"/>

    <link th:href="@{/foreground/css/style.css}" href="/foreground/css/style.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/foreground/css/mystyle.css}" href="/foreground/css/mystyle.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/foreground/css/jquery.emoji.css}" href="/foreground/css/jquery.emoji.css" rel="stylesheet"/>
    <link th:href="@{/foreground/css/player.css}"  href="/foreground/css/player.css" rel="stylesheet"/>
    <title>相册列表</title>
    <!--百度站点统计-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?690b806c35f345b6299c8a1c5b49d3a4";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>

<div class="header" id="ban" th:include="foreground/common::header"></div><!--头部导航结束-->

<div class="header-bottom" th:include="foreground/common::blogTitle"></div><!--博客标题结束-->

<div class="technology" style="margin-top: 0px" >
    <div class="container" style="width: 85%">
        <div class="col-md-12 technology-left" style="width: 100%">
            <div class="tech-no">
                <main class="main-wrapper" id="container">
                            <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3 masonry">
                                <li class="masonry-item grid" th:each="photo:${photoList}">
                                    <figure class="effect-sarah">
                                        <a th:href="'/images/'+${photo.id}" href="images.html">
                                            <img th:src="${photo.coverImage}"  src="/foreground/images/coverImage/photo/20171015132848.jpg" alt="相册封面" />
                                        </a>
                                        <figcaption>
                                            <h2 th:text="${photo.photoName}">相册名称 By <span th:text="${photo.author}">上传者</span></h2>
                                            <p th:text="${photo.description}">相册描述</p>
                                            <a th:href="'/images/'+${photo.id}" href="images.html">进入相册</a> </figcaption>
                                    </figure>
                                </li>
                            </ul>
                </main>
                <nav class="paging wow fadeInDown" data-wow-duration=".5s" data-wow-delay=".2s"
                     style="text-align: center">
                    <ul class="pagination pagination-mg" th:utext="${pageNation}">
                    </ul>
                </nav> <!--分页结束-->
            </div>
        </div><!--左侧内容结束-->
    </div>
</div><!--内容主体结束-->

<div class="footer" th:include="foreground/common::footer"></div><!--尾部结束-->
<div class="copyright wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s"
     th:include="foreground/common::copyright"></div><!--版权区结束-->
<div class="QPlayer" th:include="foreground/common::QPlayer"></div><!--音乐结束-->

<script th:src="@{/foreground/js/jquery.min.js}" src="/foreground/js/jquery.min.js"></script>
<script th:src="@{/foreground/js/photo.masonry.pkgd.min.js}"  src="/foreground/js/photo.masonry.pkgd.min.js" type="text/javascript"></script>
<script th:src="@{/foreground/js/photo.loaded.pkgd.min.js}" src="/foreground/js/photo.loaded.pkgd.min.js" type="text/javascript"></script>
<script th:src="@{/foreground/js/bootstrap.min.js}" src="/foreground/js/bootstrap.min.js"></script>
<script th:src="@{/foreground/js/photomain.js}" src="/foreground/static/js/photomain.js" type="text/javascript"></script>
<script th:src="@{/foreground/js/photo.jquery.nicescroll.min.js}" src="/foreground/static/js/photo.jquery.nicescroll.min.js" type="text/javascript"></script>
<script th:src="@{/foreground/js/wow.min.js}" src="/foreground/js/wow.min.js"></script>
<script th:src="@{/foreground/js/jquery.emoji.js}"  src="/foreground/js/jquery.emoji.js" type="text/javascript"></script>
<script th:src="@{/foreground/js/myjs.js}" src="/foreground/js/myjs.js" > </script>
</body>
</html>