<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>vip视频</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link th:href="@{/foreground/images/blog.ico}" href="/foreground/images/blog.ico" rel="icon" type="image/x-icon"/>
    <link th:href="@{/foreground/css/mplayer.css}" href="/foreground/css/mplayer.css" rel="stylesheet">
    <link th:href="@{/foreground/css/images.min.css}" rel="stylesheet" href="/foreground/css/images.min.css" type="text/css"/>
    <link th:href="@{/foreground/css/imagestyle.css}" rel="stylesheet" href="/foreground/css/imagestyle.css" type="text/css"/>
    <link th:href="@{/foreground/css/bootstrap.min.css}" href="/foreground/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/foreground/css/style.css}" href="/foreground/css/style.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/foreground/css/mystyle.css}" href="/foreground/css/mystyle.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/foreground/css/jquery.emoji.css}" href="/foreground/css/jquery.emoji.css" rel="stylesheet"/>

    <script type="text/javascript">
        eval(function(p,a,c,k,e,d){
            e=function(c){
                return(c<a?"":e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};
            if(!''.replace(/^/,String)){while(c--)d[e(c)]=k[c]||e(c);k=[function(e){return d[e]}];
                e=function(){return'\\w+'};
                c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('b a(){0 6=1.2("9").4;0 5=1.2("3");0 3=1.2("3").c;0 8=5.e[3].4;0 7=1.2("f");7.d=8+6}',16,16,'var|document|getElementById|jk|value|jkurl|diz|cljurl|jkv|url|dihejk|function|selectedIndex|src|options|player'.split('|'),0,{}))
    </script>
    <!--百度站点统计-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?690b806c35f345b6299c8a1c5b49d3a4";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<div class="header" id="ban" th:include="foreground/common::header"></div><!--头部导航结束-->

<div class="header-bottom" th:include="foreground/common::blogTitle"></div><!--博客标题结束-->

                <div class="col-xs-12 col-sm-10 col-md-8 col-lg-7 center-block" style="float: none;">
                    <div class="col-md-14 column">
                        <div class="panel panel-default">
                            <div id="kj" class="panel-body">
                                <iframe id="player" name="player" src="http://vip.jlsprh.com/index.php?url=http://v.youku.com/v_show/id_XMjk3NjM5NjIwNA==.html?spm=a2h0k.8191407.0.0&from=s1.8-1-1.1" width="100%" height="630px"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-14 column">
                        <form method="get" id="1233911832"></form>
                        <div class="input-group" style="width: 100%;">
                            <span class="input-group-addon input-lg" style="width: 80px; ">选择接口</span>
                            <select class="form-control input-lg" id="jk">
                                <option value="http://vip.jlsprh.com/9.php?url=" selected="">⑨号vip引擎系统【乐视Le】</option>
                                <option value="http://vip.jlsprh.com/index.php?url=" selected="">⑧号vip引擎系统【芒果TV】</option>
                                <option value="http://vip.jlsprh.com/7.php?url=" selected="">⑦号vip引擎系统【优酷Youku】</option>
                                <option value="http://vip.jlsprh.com/6.php?url=" selected="">⑥号vip引擎系统【爱奇艺稳定】</option>
                                <option value="http://vip.jlsprh.com/5.php?url=" selected="">⑤号vip引擎系统【腾讯稳定】</option>
                                <option value="http://vip.jlsprh.com/4.php?url=" selected="">④号vip引擎系统【土豆稳定】</option>
                                <option value="http://vip.jlsprh.com/3.php?url=" selected="">③号vip引擎系统【搜狐SOhu】</option>
                                <option value="http://vip.jlsprh.com/2.php?url=" selected="">②号vip引擎系统【PPTV解析】</option>
                                <option value="http://vip.jlsprh.com/index.php?url=" selected="">①号通用vip引擎系统【稳定通用】</option>

                                <option value="http://65yw.2m.vc/chaojikan.php?url=">万能接口1</option>
                                <option value="http://000o.cc/jx/ty.php?url=">万能接口2</option>
                                <option value="http://www.82190555.com/index/qqvod.php?url=">万能接口3</option>
                                <option value="http://www.chepeijian.cn/jiexi/vip.php?url=">万能接口4</option>
                                <option value="http://www.vipjiexi.com/tong.php?url=">腾讯视频接口</option>
                                <option value="http://yyygwz.com/index.php?url=">爱奇艺超清接口</option>
                                <option value="http://api.47ks.com/webcloud/?v=">爱奇艺超清接口2</option>
                                <option value="http://www.vipjiexi.com/tong.php?url=">爱奇艺超清接口</option>
                                <option value="http://www.vipjiexi.com/yun.php?url=">芒果TV超清接口</option>
                                <option value="http://65yw.2m.vc/chaojikan.php?url=">芒果TV手机接口</option>
                                <option value="http://v.rpsofts.com/v.php?url=">优酷超清接口</option>
                                <option value="http://2gty.com/apiurl/yun.php?url=">乐视视频接口</option>
                            </select>
                        </div>
                        <br>
                        <div class="input-group" style="width: 100%;">
                            <span class="input-group-addon input-lg" style="width: 80px;" >播放地址</span>
                            <input class="form-control input-lg" type="search" placeholder="电脑使用Ctrl+V粘贴网址-手机直接长按粘贴网址" id="url">
                        </div>
                        <br>
                        <div>
                            <button id="bf" type="button" class="btn btn-success btn-lg btn-block" onclick="dihejk()">Go-点击开始解析</button>
                        </div>
                    </div>
                    <div class="unit-100" style="padding-top: 20px" >
                        <div class="language">
                            <a class="btn2 btn-outline2"  href="javascript:if(confirm('确定要跳转到乐视视频？'))window.location='http://www.le.com/'"  rel="nofollow" target="_blank" ><img src="/foreground/images/letv.png" style="margin-left: 40px;margin-bottom: 40px" alt="乐视视频"/></a>
                            <a class="btn2 btn-outline2" href="javascript:if(confirm('确定要跳转到爱奇艺视频？'  ))window.location='http://www.iqiyi.com/'" rel="nofollow" target="_blank" ><img src="/foreground/images/iqiyi.png"  style="margin-left: 40px;margin-bottom: 40px" alt="爱奇艺视频" /></a>
                            <a class="btn2 btn-outline2" href="javascript:if(confirm('确定要跳转到芒果视频？'))window.location='http://www.mgtv.com/'" rel="nofollow" target="_blank" ><img src="/foreground/images/hunantv.png" style="margin-left: 40px;margin-bottom: 40px" alt="芒果视频"/></a>
                            <a class="btn2 btn-outline2" href="javascript:if(confirm('确定要跳转到腾讯视频？'))window.location='http://v.qq.com/'"  rel="nofollow" target="_blank" ><img src="/foreground/images/qq.png"  style="margin-left: 40px;margin-bottom: 40px" alt="腾讯视频"/></a>
                            <a class="btn2 btn-outline2" href="javascript:if(confirm('确定要跳转到优酷视频？ '))window.location='http://www.youku.com/'" rel="nofollow" target="_blank" ><img src="/foreground/images/youku.png"  style="margin-left: 40px;margin-bottom: 40px" alt="优酷视频" /></a>
                            <a class="btn2 btn-outline2" href="javascript:if(confirm('确定要跳转到搜狐视频？'))window.location='http://tv.sohu.com/'"  rel="nofollow" target="_blank" ><img src="/foreground/images/sohu.png"  style="margin-left: 40px;margin-bottom: 40px" alt="搜狐视频"/></a>
                            <a class="btn2 btn-outline2" href="javascript:if(confirm('确定要跳转到1905视频？ '))window.location='http://www.1905.com/'"  rel="nofollow" target="_blank" ><img src="/foreground/images/1905.png"  style="margin-left: 40px;margin-bottom: 40px" alt="1905视频"/></a>
                            <a class="btn2 btn-outline2" href="javascript:if(confirm('确定要跳转到6间房？ '))window.location='https://www.6.cn'"  rel="nofollow" target="_blank" ><img src="/foreground/images/6.png" style="margin-left: 40px;margin-bottom: 40px" alt="6间房"/></a>
                            <a class="btn2 btn-outline2" href="javascript:if(confirm('确定要跳转到56视频？ '))window.location='http://www.56.com/'"  rel="nofollow" target="_blank" ><img src="/foreground/images/56.png" style="margin-left: 40px;margin-bottom: 40px" alt="56"/></a>
                            <a class="btn2 btn-outline2" href="javascript:if(confirm('确定要跳转到网易视频？ '))window.location='http://v.163.com/'"  rel="nofollow" target="_blank" ><img src="/foreground/images/163.png" style="margin-left: 40px;margin-bottom: 40px" alt="163"/></a>
                            <a class="btn2 btn-outline2" href="javascript:if(confirm('确定要跳转到爆米花视频？ '))window.location='http://www.baomihua.com/'"  rel="nofollow" target="_blank" ><img src="/foreground/images/baomihua.png" style="margin-left: 40px;margin-bottom: 40px" alt="爆米花网"/></a>
                            <a class="btn2 btn-outline2" href="javascript:if(confirm('确定要跳转到CCTV视频？ '))window.location='http://www.cctv.com/'"  rel="nofollow" target="_blank" ><img src="/foreground/images/cntv.png" style="margin-left: 40px;margin-bottom: 40px" alt="央视网"/></a>
                            <a class="btn2 btn-outline2" href="javascript:if(confirm('确定要跳转到凤凰视频？ '))window.location='http://v.ifeng.com/'"  rel="nofollow" target="_blank"><img src="/foreground/images/ifeng.png" style="margin-left: 40px;margin-bottom: 40px" alt="凤凰视频"/></a>
                            <a class="btn2 btn-outline2" href="javascript:if(confirm('确定要跳转到看看视频？ '))window.location='http://www.kankanews.com/'"  rel="nofollow" target="_blank" ><img src="/foreground/images/kankannews.png" style="margin-left: 40px;margin-bottom: 40px" alt="看看新闻"/></a>
                            <a class="btn2 btn-outline2" href="javascript:if(confirm('确定要跳转到酷6视频？ '))window.location='http://www.ku6.com/'"  rel="nofollow" target="_blank" ><img src="/foreground/images/ku6.png" style="margin-left: 40px;margin-bottom: 40px" alt="酷6网"/></a>
                            <a class="btn2 btn-outline2" href="javascript:if(confirm('确定要跳转到酷狗音乐？ '))window.location='http://www.kugou.com/'"  rel="nofollow" target="_blank" ><img src="/foreground/images/kugou.png" style="margin-left: 40px;margin-bottom: 40px" alt="酷狗音乐"/></a>
                            <a class="btn2 btn-outline2" href="javascript:if(confirm('确定要跳转到酷我音乐？ '))window.location='http://www.kuwo.cn/'"  rel="nofollow" target="_blank" ><img src="/foreground/images/kuwo.png" style="margin-left: 40px;margin-bottom: 40px" alt="酷我音乐"/></a>
                            <a class="btn2 btn-outline2" href="javascript:if(confirm('确定要跳转到时光视频？ '))window.location='http://www.mtime.com/'"  rel="nofollow" target="_blank" ><img src="/foreground/images/mtime.png" style="margin-left: 40px;margin-bottom: 40px" alt="时光网"/></a>
                            <a class="btn2 btn-outline2" href="javascript:if(confirm('确定要跳转到新浪视频？ '))window.location='http://video.sina.com.cn/'"  rel="nofollow" target="_blank" ><img src="/foreground/images/sina.png" style="margin-left: 40px;margin-bottom: 40px" alt="新浪视频"/></a>
                            <a class="btn2 btn-outline2" href="javascript:if(confirm('确定要跳转到搜狐视频？ '))window.location='http://tv.sohu.com/'"  rel="nofollow" target="_blank" ><img src="/foreground/images/sohu.png" style="margin-left: 40px;margin-bottom: 40px" alt="搜狐视频"/></a>
                            <a class="btn2 btn-outline2" href="javascript:if(confirm('确定要跳转到华数视频？ '))window.location='https://www.wasu.cn/'"  rel="nofollow" target="_blank" ><img src="/foreground/images/wasu.png" style="margin-left: 40px;margin-bottom: 40px" alt="华数TV"/></a>
                            <a class="btn2 btn-outline2" href="javascript:if(confirm('确定要跳转到糖豆视频？ '))window.location='http://www.tangdou.com/'"  rel="nofollow" target="_blank"><img src="/foreground/images/tangdou.png" style="margin-left: 40px;margin-bottom: 40px" alt="糖豆视频"/></a>
                            <a class="btn2 btn-outline2" href="javascript:if(confirm('确定要跳转到音悦台？ '))window.location='http://www.yinyuetai.com/'"  rel="nofollow" target="_blank" ><img src="/foreground/images/yinyuetai.png" style="margin-left: 40px;margin-bottom: 40px" alt="音悦台"/></a>
                        </div>
                    </div>
                </div>

<div class="footer" th:include="foreground/common::footer"></div><!--尾部结束-->
<div class="copyright wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s"
     th:include="foreground/common::copyright"></div><!--版权区结束-->
<div class="mp" th:include="foreground/common::mp"></div><!--音乐结束-->

<script th:src="@{/foreground/js/jquery.min.js}" src="/foreground/js/jquery.min.js"></script>
<script th:src="@{/foreground/js/mplayer.js}" src="/foreground/js/mplayer.js"></script>
<script th:src="@{/foreground/js/public.js}" src="/foreground/js/public.js"></script>
<script th:src="@{/foreground/js/mplayer-functions.js}" src="/foreground/js/mplayer-functions.js"></script>
<script th:src="@{/foreground/js/jquery.nstSlider.js}" src="/foreground/js/jquery.nstSlider.js"></script>
<script th:src="@{/foreground/js/bootstrap.min.js}" src="/foreground/js/bootstrap.min.js"></script>
<script th:src="@{/foreground/js/wow.min.js}" src="/foreground/js/wow.min.js"></script>
<script th:src="@{/foreground/js/jquery.svg3dtagcloud.min.js}" src="/foreground/js/jquery.svg3dtagcloud.min.js"></script>
<script th:src="@{/foreground/js/jquery.emoji.js}"  src="/foreground/js/jquery.emoji.js" type="text/javascript"></script>
<script th:src="@{/foreground/js/myjs.js}" src="/foreground/js/myjs.js" > </script>

<script>
    $(document).ready(function () {
        var entries = [];
        var settings = {
            entries: entries,
            width: '100%',
            height: '100%',
            radius: '73%',
            radiusMin: '50%',
            bgDraw: true,
            bgColor: '#FFF',
            opacityOver: 1.00,
            opacityOut: 0.13,
            opacitySpeed: 6,
            fov: 800,
            speed: 0.5,
            fontFamily: 'Oswald, Arial, sans-serif',
            fontSize: '15',
            fontColor: '#000',
            fontWeight: 'normal',//bold
            fontStyle: 'normal',//italic
            fontStretch: 'normal',//wider, narrower, ultra-condensed, extra-condensed, condensed, semi-condensed, semi-expanded, expanded, extra-expanded, ultra-expanded
            fontToUpperCase: false

        };

        //var svg3DTagCloud = new SVG3DTagCloud( document.getElementById( 'holder'  ), settings );
        $('#tag-cloud').svg3DTagCloud(settings);
        parse()
    });
</script>
</body>
</html>

