<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>shwy's blog后台管理系统</title>
    <link th:href="@{/foreground/images/blog.ico}" href="/foreground/images/blog.ico" rel="icon" type="image/x-icon"/>
    <!-- layui.css -->
    <link th:href="@{/background/plugin/layui/css/layui.css}" href="/background/plugin/layui/css/layui.css" rel="stylesheet"/>
    <!-- 本页样式 -->
    <link th:href="@{/background/css/index.css}" href="/background/css/index.css" rel="stylesheet"/>
</head>
<body style="background-image: url('/background/images/background.jpg')">
<div class="mask"></div>
<div class="main">
    <h1><span style="font-size: 84px;">s</span><span style="font-size:30px;">hwy's blog</span></h1>
    <p id="time"></p>
    <div class="enter">
        Please&nbsp;&nbsp;Click&nbsp;&nbsp;Enter
    </div>
</div>
<!-- layui.js -->
<script th:src="@{/background/plugin/layui/layui.js}" src="/background/plugin/layui/layui.js"></script>
<!-- layui规范化用法 -->
<script type="text/javascript">
    layui.config({
        base: '/background/js/'
    }).use('index');
</script>
<!--解析登陆的IP地址-->
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
</body>
</html>