<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布说说页面</title>
    <link th:href="@{/background/plugin/layui/css/layui.css}" href="/background/plugin/layui/css/layui.css" rel="stylesheet" />
    <style>
        .layui-form-selected dl{
            z-index: 1000;
        }
    </style>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
    <legend>编写说说</legend>
</fieldset>

<form class="layui-form" action="/admin/addMood" method="post" >
    <div class="layui-form-item">
        <label class="layui-form-label">说说标题</label>
        <div class="layui-input-inline">
            <input type="text" name="title" lay-verify="required" autocomplete="off" placeholder="请输入标题" class="layui-input" th:value="${mood}==null?'':${mood.title}"/>
            <input type="hidden" name="id" th:value="${mood}==null?'':${mood.id}"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">是否显示</label>
        <div class="layui-input-inline">
            <div th:switch="${mood}==null? ${false}:${mood.is_show}">
                <span th:case="${false}">
                    <input type="radio" name="is_show" value=true title="是"  >
                    <input type="radio" name="is_show" value=false title="否" checked >
                </span>
                <span th:case="${true}">
                    <input type="radio" name="is_show" value=true title="是"  checked>
                    <input type="radio" name="is_show" value=false title="否"  >
                </span>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">添加照片墙</label>
        <div class="layui-input-inline">
            <input type="file" name="file" class="layui-upload-file" lay-title="添加一个碉堡了的图片">
            <input type="hidden" name="pictureUrl" id="pictureUrl"   th:value="${mood}==null?'':${mood.pictureUrl}">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">说说内容</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入说说内容" name="content" lay-verify="required" style='width:99%;' class="layui-textarea" th:text="${mood}==null?'':${mood.content}"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" id="submit"  lay-submit="" lay-filter="submitMood">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<!-- layui.js -->
<script th:src="@{/background/plugin/ueditor/ueditor.config.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/background/plugin/ueditor/ueditor.all.js}" type="text/javascript" charset="utf-8"> </script>
<script th:src="@{/background/plugin/ueditor/lang/zh-cn/zh-cn.js}" type="text/javascript" charset="utf-8" ></script>
<script th:src="@{/background/plugin/layui/layui.js}" src="/background/plugin/layui/layui.js"></script>
<script th:inline="javascript" type="text/javascript">


    layui.define(['form','upload',], function(){
        var $ = layui.jquery;
        layui.upload({
            url: '/admin/uploadMooodImages' //上传接口
            ,success: function(result){ //上传成功后的回调
                if(result.success=='true'){
                    document.getElementById("pictureUrl").value=result.pictureUrl;
                }else{
                    alert("上传文件失败");
                }
            }
        });
    });

</script>
</body>
</html>